.DS_Store
*.pyc
*.swl
*.swm
*.swn
*.swo
*.swp
*.log
*.log.*
dist/
.cache
build
*pip-log.txt
*.egg-info
*.egg
*.coverage
.tox/
set_credentials.sh
docs/_build/*
*~
/tests/storage/
/tmp
.noseids
fields_summary.csv
