include LICENSE
include HISTORY.rst
include README.rst
recursive-include data *
recursive-include docs *
recursive-include tests *
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
prune docs/_build
